@typeparam TItem

@using System.Text.Json

@if (Debug)
{
    <p>@JsonSerializer.Serialize(Items.Select(x => x.DebugName))</p>
    <p>Dragging: @_currentDrag?.DebugName</p>
    <p>Last Over: @_lastOver?.DebugName</p>
}

@* The DragWrapper is used to wrap an entire draggable chain. DragZones within a wrapper have items shared. *@
<div class="@Class __drag-wrapper" style="height: @Height">
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>


@code {

    /// <summary>
    /// The content of this wrapper. Should contain DragZones.
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
    /// <summary>
    /// Allows you to style the DragWrapper.
    /// </summary>
    [Parameter]
    public string Class { get; set; }

    /// <summary>
    /// Distance in pixels levels are tabbed out
    /// </summary>
    [Parameter]
    public int TabSize { get; set; } = 20;
    
    /// <summary>
    /// Event called when the order of items changes
    /// </summary>
    [Parameter]
    public Func<DragEventData<TItem>, Task> OnChangeAsync { get; set; }
    
    /// <summary>
    /// Shows helpful debugging information
    /// </summary>
    [Parameter]
    public bool Debug { get; set; } = false;
    
    /// <summary>
    /// Used to give wrapper proper height
    /// </summary>
    public int Height { get; set; }

    /// <summary>
    /// The item currently being dragged
    /// </summary>
    private DragItem<TItem> _currentDrag;

    /// <summary>
    /// Last item hovered over
    /// </summary>
    private DragItem<TItem> _lastOver;

    /// <summary>
    /// If the last hover was on the right
    /// </summary>
    private bool _lastRight;
    
    /// <summary>
    /// The items within this DragWrapper.
    /// </summary>
    public List<DragItem<TItem>> Items { get; set; } = new();

    private DateTime lastEnter;
    
    public void RegisterItem(DragItem<TItem> item)
    {
        // Add to list
        Items.Add(item);
        
        // Set position
        item.Position = Height;
        
        // Add to total height
        Height += item.Height;
        
        if (Debug)
            StateHasChanged();
    }

    public void NotifyDragging(DragItem<TItem> item)
    {
        if (Debug)
            StateHasChanged();
        
        _currentDrag = item;
    }

    public async Task NotifyDragEnter(DragItem<TItem> draggedOver, bool rightSide = false)
    {
        if (Debug)
            StateHasChanged();
        
        if (lastEnter.AddMilliseconds(100) > DateTime.Now)
            return;
            
        lastEnter = DateTime.Now;
        
        await MoveItem(draggedOver, false, rightSide);
        
        if ((_currentDrag != draggedOver || rightSide != _lastRight))
        {
            _lastOver = draggedOver;
            _lastRight = rightSide;
        }
    }

    public async Task NotifyDropOn(DragItem<TItem> droppedOn, bool rightSide = false)
    {
        if (Debug)
            StateHasChanged();
        
        await MoveItem(droppedOn, true, rightSide);
    }
    
    public void NotifyStopDragging()
    {
        if (Debug)
            StateHasChanged();
        
        _currentDrag = null;
        _lastOver = null;
        _lastRight = false;
        
        if (Debug)
            Console.WriteLine("Stopped dragging");
    }

    private List<DragItem<TItem>> GetAnchoredTo(DragItem<TItem> parent)
    {
        var startIndex = Items.IndexOf(parent);
        var items = new List<DragItem<TItem>>();
        items.Add(parent);

        for (int i = startIndex + 1; i < Items.Count; i++)
        {
            var nextItem = Items[i];
            if (nextItem.Depth <= parent.Depth)
                break;
            
            items.Add(nextItem);
        }

        return items;
    }
    
    public List<DragItem<TItem>> GetDirectChildrenOf(DragItem<TItem> parent)
    {
        var startIndex = Items.IndexOf(parent);
        var items = new List<DragItem<TItem>>();

        for (int i = startIndex + 1; i < Items.Count; i++)
        {
            var nextItem = Items[i];
            if (nextItem.Depth <= parent.Depth)
                break;
            
            // Only a direct child if the depth is one more than the parent
            if (nextItem.Depth == parent.Depth + 1)
                items.Add(nextItem);
        }

        return items;
    }

    private int GetEndOf(DragItem<TItem> parent)
    {
        var startIndex = Items.IndexOf(parent);
        var index = startIndex;

        for (int i = startIndex + 1; i < Items.Count; i++)
        {
            var nextItem = Items[i];
            if (nextItem.Depth <= parent.Depth)
                break;

            index = i;
        }

        return index;
    }

    public async Task MoveItem(DragItem<TItem> target, bool drop, bool rightSide = false)
    {
        // If the item is being dropped on itself, do nothing
        if (_currentDrag == target)
            return;
        
        if (Debug)
        {
            Console.WriteLine($"Moving {_currentDrag.DebugName} to {target.DebugName}");
            Console.WriteLine("Last over: " + _lastOver?.DebugName);
            Console.WriteLine("Right: " + rightSide);
        }

        if (target == _lastOver && rightSide == _lastRight)
            return;

        // Whatever is being dragged is not a part of this
        // wrapper object's scope
        if (_currentDrag is null)
            return;

        var oldIndex = Items.IndexOf(_currentDrag);
        
        var anchoredTo = GetAnchoredTo(_currentDrag);

        // Cannot drag into itself
        if (anchoredTo.Contains(target))
            return;

        // Remove drag item from current position
        Items.RemoveRange(oldIndex, anchoredTo.Count);
        //if (targetIndex > oldIndex) targetIndex--;
        
        // Get position of *the end of* the target
        var targetIndex = GetEndOf(target);

        if (targetIndex + 1 >= Items.Count)
        {
            Items.AddRange(anchoredTo);
        }
        else
        {
            Items.InsertRange(targetIndex + 1, anchoredTo);
        }

        var depthDiff = target.Depth - _currentDrag.Depth;
        
        // Right side or we aren't a container and the target is means
        // we go into the container rather than beside it
        if (rightSide || (!_currentDrag.IsContainer && target.IsContainer))
        {
            foreach (var item in anchoredTo)
            {
                item.Depth += depthDiff + 1;
            }
        }
        else
        {
            // Don't bother if there's no change
            if (depthDiff != 0)
            {
                foreach (var item in anchoredTo)
                {
                    item.Depth += depthDiff;
                }
            }
        }

        // Recalculate zone
        RecalculatePositions();

        if (OnChangeAsync is null)
            return;
        
        // Fire off change event with data for the container that has changed
        
        DragEventData<TItem> eventData = new()
        {
            MovedItem = _currentDrag.Data,
        };
        
        // Get the container that holds the target
        // We need to work backwards to find it
        var endIndex = Items.IndexOf(target);
        for (int i = endIndex; i >= 0; i--)
        {
            var item = Items[i];
            if (item.IsContainer && item.Depth == _currentDrag.Depth - 1)
            {
                eventData.TargetContainer = item.Data;
                break;
            }
        }
        
        // Find relative index of the item within the container
        // The relative index of the child within the parent
        // Ex:
        // Container
        //  - Child [0]
        //    - SubChild
        //  - Child [1]
        //  - Child [2]
        var selfEndIndex = Items.IndexOf(_currentDrag);
        var relIndex = 0;
        for (int i = selfEndIndex - 1; i >= 0; i--)
        {
            if (Items[i].Depth == _currentDrag.Depth)
            {
                relIndex++; // If it's an item at the same depth, it's a sibling before us.
                            // This allows us to find the relative index in the same scan.
            }
        }

        eventData.Index = relIndex;

        await OnChangeAsync.Invoke(eventData);
    }

    /// <summary>
    /// Returns the entire state of the DragWrapper, including child-parent relationships.
    /// </summary>
    public List<DragChangeData<TItem>> GetFullState()
    {
        List<DragChangeData<TItem>> data = new();
        var topLevel = Items.Where(x => x.Depth == 0).ToList();
        foreach (var item in topLevel)
        {
            data.Add(item.ToData());
        }

        return data;
    } 

    public void RecalculatePositions()
    {
        var totalHeight = 0;
        foreach (var item in Items)
        {
            item.SetPosition(totalHeight);
            totalHeight += item.Height;
        }
        
        Height = totalHeight;
        
        StateHasChanged();
    }
}