@using FastDragBlazor.Components
@using System.Text.Json
@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

<br/>

<DragWrapper TItem="string" OnChangeAsync="@OnChangeAsync" UsePaddingTabs="false">
    <DragItem TItem="string" Data='"CAT1"' Class="drag-item" Height="40" IsContainer="true">
        <p>Category</p>
    </DragItem>
    <DragItem TItem="string" Data='"CAT2"' Class="drag-item" Height="40" IsContainer="true">
        <p>Category 2</p>
    </DragItem>
    <DragItem TItem="string" Data='"CHAN1"' Class="drag-item" Height="40">
        <p>Channel 1</p>
    </DragItem>
    <DragItem TItem="string" Data='"CHAN2"' Class="drag-item" Height="40">
        <p>Channel 2</p>
    </DragItem>
    <DragItem TItem="string" Data='"CHAN3"' Class="drag-item" Height="40">
        <p>Channel 3</p>
    </DragItem>
    <DragItem TItem="string" Data='"CHAN4"' Class="drag-item" Height="40">
        <p>Channel 4</p>
    </DragItem>
    <DragItem TItem="string" Data='"CHAN5"' Class="drag-item" Height="40">
        <p>Channel 5</p>
    </DragItem>
</DragWrapper>

@code {
    private async Task OnChangeAsync(DragEventData<string> data)
    {
        Console.WriteLine(JsonSerializer.Serialize(data));
    }
}